---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class='pt-[58px] lg:pt-[72px]'>
    メインコンテンツ
    <section class='h-[700px] bg-amber-400' id='feature'>Section1</section>
    <section class='h-[700px] bg-amber-500' id='flow'>Section2</section>
    <section class='h-[700px] bg-amber-600' id='faq'>Section2</section>
  </main>
</Layout>
