---
import table from '../assets/table.webp';
---

<section>
  <div class='section-container'>
    <h2
      class='text-2xl font-bold text-main-700 tracking-wider text-center md:text-3xl'
    >
      職種をITに特化し、<br class='md:hidden' />高騰している<span
        class='underline decoration-[0.5rem] decoration-orange-200 underline-offset-[-0.4rem]'
        >採用費用を抑制</span
      >
    </h2>
    <p class='font-semibold text-center mt-5 md:text-xl'>
      一方で「入社祝い金」を直接企業から求職者へ直接還元することで価格メリットも提供
    </p>

    <div class='mt-10 overflow-scroll md:overflow-auto'>
      <img
        src={table.src}
        height={table.height}
        width={table.width}
        alt='採用費用を抑制していることを表す他社比較表'
        class='h-[400px] max-w-none w-auto mx-auto md:h-auto md:w-full md:max-w-[1038px]'
      />
    </div>

    <div class='mt-10 text-right text-xs'>
      <p>*入社祝い金は企業から求職者へ直接渡す</p>
      <p class='mt-1'>*年間採用コスト=1年で3人採用した場合を想定</p>
    </div>
  </div>
</section>
