<div
  id='cta'
  class='bg-cover bg-no-repeat bg-center h-[17.5rem] md:h-[26.5rem]'
>
  <div
    class='flex flex-col items-center justify-center h-full w-full py-12 px-7 gap-8'
  >
    <p class='text-white font-semibold text-center text-xl md:text-3xl'>
      一緒に仕事をしてから転職を決める<br />お互いの <span
        class='gradient-main-text text-2xl md:text-4xl'>Fit感</span
      > を重視した、<br class='md:hidden' />新しい転職のカタチ
    </p>
    <!-- TODO:リンク差し替え -->
    <a class='btn-primary-up' href='/'> 無料で登録</a>
  </div>
</div>

<style>
  #cta {
    background-image: url('../assets/cta_bg_sp.webp');
  }

  @media (min-width: 768px) {
    #cta {
      background-image: url('../assets/cta_bg_pc.webp');
    }
  }
</style>
