<footer class='bg-main-900 py-9 px-4 text-white'>
  <div class='flex flex-col items-center gap-8 md:gap-5 md:justify-between'>
    <div
      class='flex flex-col self-start gap-2 text-sm md:flex-row md:self-center md:gap-6'
    >
      <!-- TODO: URLリンク-->
      <a
        href='/'
        target='_blank'
        rel='noopener noreferrer'
        class='hover:opacity-80'
      >
        利用規約
      </a>
      <!-- TODO: URLリンク-->
      <a
        href='/'
        target='_blank'
        rel='noopener noreferrer'
        class='hover:opacity-80'
      >
        プライバシーポリシー
      </a>
      <!-- TODO: URLリンク-->
      <a
        href='/'
        target='_blank'
        rel='noopener noreferrer'
        class='hover:opacity-80'
      >
        運営者情報
      </a>
    </div>
    <p class='text-xs'>© 2023 Re:Fit All Rights Reserved.</p>
  </div>
</footer>
