<section id='flow' class='bg-main-600 text-white'>
  <div class='section-container'>
    <div
      class='flex flex-col justify-center items-center bg-[url("/src/assets/message.webp")] font-bold bg-cover bg-no-repeat bg-center max-w-[18.75rem] mx-auto h-[6.875rem]'
    >
      <span class='md:text-lg'>MESSAGE</span>
      <h2 class='text-2xl md:text-4xl'>メッセージ</h2>
    </div>

    <!-- TODO:テキスト差し替え  -->
    <div class='flex flex-col gap-5 mt-1 leading-7 md:text-center'>
      <p>
        採用担当者様<br
        />この度はIT人材マッチングサービス「Re:Fit（レフィット）」をご検討頂きありがとうございます。
      </p>
      <p>最後に私たちの想いをお伝えしたいと思います。</p>
      <p>
        私たちアイディオットは『Ai（人工知能）』と『Idiot（バカ・愚直）』という正反対の単語をくっつけた造語の元でAIという未来のテクノロジーに愚直に向き合っている会社です。
      </p>
      <p>
        マッチングサービスは一見シンプルに見えますが２つのモノの関係性というデータが蓄積されていく面白いビジネスです。
      </p>
      <p>
        マッチングサービスは一見シンプルに見えますが２つのモノの関係性というデータが蓄積されていく面白いビジネスです。
      </p>
      <p>
        マッチングサービスは一見シンプルに見えますが２つのモノの関係性というデータが蓄積されていく面白いビジネスです。
      </p>
      <p>
        マッチングサービスは一見シンプルに見えますが２つのモノの関係性というデータが蓄積されていく面白いビジネスです。
      </p>
      <p>
        マッチングサービスは一見シンプルに見えますが２つのモノの関係性というデータが蓄積されていく面白いビジネスです。
      </p>
      <p>
        お客様のビジネスを私たちの最先端のテクノロジーと最後までやりぬく愚直さで成功までお手伝いさせて頂ければ幸いです。
      </p>
    </div>
  </div>
</section>
